/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-q22rtn57z9] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #080e10;
}

html[b-q22rtn57z9], body[b-q22rtn57z9], div[b-q22rtn57z9], span[b-q22rtn57z9], applet[b-q22rtn57z9], object[b-q22rtn57z9], iframe[b-q22rtn57z9],
h1[b-q22rtn57z9], h2[b-q22rtn57z9], h3[b-q22rtn57z9], h4[b-q22rtn57z9], h5[b-q22rtn57z9], h6[b-q22rtn57z9], p[b-q22rtn57z9], blockquote[b-q22rtn57z9], pre[b-q22rtn57z9],
a[b-q22rtn57z9], abbr[b-q22rtn57z9], acronym[b-q22rtn57z9], address[b-q22rtn57z9], big[b-q22rtn57z9], cite[b-q22rtn57z9], code[b-q22rtn57z9],
del[b-q22rtn57z9], dfn[b-q22rtn57z9], em[b-q22rtn57z9], img[b-q22rtn57z9], ins[b-q22rtn57z9], kbd[b-q22rtn57z9], q[b-q22rtn57z9], s[b-q22rtn57z9], samp[b-q22rtn57z9],
small[b-q22rtn57z9], strike[b-q22rtn57z9], strong[b-q22rtn57z9], sub[b-q22rtn57z9], sup[b-q22rtn57z9], tt[b-q22rtn57z9], var[b-q22rtn57z9],
b[b-q22rtn57z9], u[b-q22rtn57z9], i[b-q22rtn57z9], center[b-q22rtn57z9],
dl[b-q22rtn57z9], dt[b-q22rtn57z9], dd[b-q22rtn57z9], ol[b-q22rtn57z9], ul[b-q22rtn57z9], li[b-q22rtn57z9],
fieldset[b-q22rtn57z9], form[b-q22rtn57z9], label[b-q22rtn57z9], legend[b-q22rtn57z9],
table[b-q22rtn57z9], caption[b-q22rtn57z9], tbody[b-q22rtn57z9], tfoot[b-q22rtn57z9], thead[b-q22rtn57z9], tr[b-q22rtn57z9], th[b-q22rtn57z9], td[b-q22rtn57z9],
article[b-q22rtn57z9], aside[b-q22rtn57z9], canvas[b-q22rtn57z9], details[b-q22rtn57z9], embed[b-q22rtn57z9],
figure[b-q22rtn57z9], figcaption[b-q22rtn57z9], footer[b-q22rtn57z9], header[b-q22rtn57z9], hgroup[b-q22rtn57z9],
menu[b-q22rtn57z9], nav[b-q22rtn57z9], output[b-q22rtn57z9], ruby[b-q22rtn57z9], section[b-q22rtn57z9], summary[b-q22rtn57z9],
time[b-q22rtn57z9], mark[b-q22rtn57z9], audio[b-q22rtn57z9], video[b-q22rtn57z9] {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article[b-q22rtn57z9], aside[b-q22rtn57z9], details[b-q22rtn57z9], figcaption[b-q22rtn57z9], figure[b-q22rtn57z9],
footer[b-q22rtn57z9], header[b-q22rtn57z9], hgroup[b-q22rtn57z9], menu[b-q22rtn57z9], nav[b-q22rtn57z9], section[b-q22rtn57z9] {
    display: block;
}
body[b-q22rtn57z9] {
    line-height: 1;
}
ol[b-q22rtn57z9], ul[b-q22rtn57z9] {
    list-style: none;
}
blockquote[b-q22rtn57z9], q[b-q22rtn57z9] {
    quotes: none;
}
blockquote[b-q22rtn57z9]:before, blockquote[b-q22rtn57z9]:after,
q[b-q22rtn57z9]:before, q[b-q22rtn57z9]:after {
    content: '';
    content: none;
}
table[b-q22rtn57z9] {
    border-collapse: collapse;
    border-spacing: 0;
}


main[b-q22rtn57z9] {
    flex: 1;
    padding-bottom: 16px;
    height: 100%;
}

*[b-q22rtn57z9]::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
*[b-q22rtn57z9]::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #C0C9CB;
}

*[b-q22rtn57z9]::-webkit-scrollbar-track:hover {
    background-color: #DDE7E9;
}

*[b-q22rtn57z9]::-webkit-scrollbar-track:active {
    background-color: #909698;
}

*[b-q22rtn57z9]::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #5A827E;
}

*[b-q22rtn57z9]::-webkit-scrollbar-thumb:hover {
    background-color: #84AE92;
}

*[b-q22rtn57z9]::-webkit-scrollbar-thumb:active {
    background-color: #92D2B2;
}

.sidebar[b-q22rtn57z9] {
    width: 340px !important;
    padding: 16px;
    border-right: solid 2px #84AE92;
    z-index: 11000;
}

.top-row[b-q22rtn57z9] {
    font-size: 36px;
    font-weight: bold;
    background-color:  #11181d;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

    .top-row[b-q22rtn57z9]  a, .top-row[b-q22rtn57z9]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-q22rtn57z9]  a:hover, .top-row[b-q22rtn57z9]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-q22rtn57z9]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-q22rtn57z9] {
        justify-content: space-between;
    }

        .top-row[b-q22rtn57z9]  a, .top-row[b-q22rtn57z9]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-q22rtn57z9] {
        flex-direction: row;
    }

    .sidebar[b-q22rtn57z9] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-q22rtn57z9] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-q22rtn57z9]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-q22rtn57z9], article[b-q22rtn57z9] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-6fzo9h3tr2] {
    appearance: none;
    cursor: pointer;
    padding: 0 16px;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-6fzo9h3tr2] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-6fzo9h3tr2] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-6fzo9h3tr2] {
    font-size: 1.1rem;
}

.bi[b-6fzo9h3tr2] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.nav-item[b-6fzo9h3tr2] {
    background-color: #5A827E;
    font-size: 18px;
    border-radius: 5px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 4px;
    cursor: pointer;
}

.nav-item:hover[b-6fzo9h3tr2]  {
    background-color: #84AE92;
    color: white;
}

.nav-item.active[b-6fzo9h3tr2] {
    background-color: #2a7b51;
    color: white;
}

.nav-item:active[b-6fzo9h3tr2] {
    background-color: #2a7b51;
    color: white;
}

.nav-link:active[b-6fzo9h3tr2] {
    background-color: #2a7b51;
}

.nav-item:has(.nav-link.active)[b-6fzo9h3tr2] {
    background-color: #2a7b51;
    color: white;
}

.nav-item:has(.nav-link.active:hover)[b-6fzo9h3tr2] {
    background-color: #84AE92;
    color: white;
}


.nav-item:has(.nav-link.active) .nav-link[b-6fzo9h3tr2] {
    color: white;
}

.nav-item[b-6fzo9h3tr2]  a.active .btn_delete i {
    color: white;
}

.nav-item[b-6fzo9h3tr2]  a:hover {
    background-color: #84AE92;
    color: white;
}

.nav-item[b-6fzo9h3tr2]  a.active {
    background-color: #2a7b51;
    color: white;
}

.nav-item[b-6fzo9h3tr2]  a.active:hover {
    background-color: #84AE92;
    color: white;
}

.nav-item:hover .btn_delete i[b-6fzo9h3tr2] {
    color: white;
}

.nav-item[b-6fzo9h3tr2]  a {
    display: block;
    width: 100% !important;
}

.nav-item:hover .btn_delete:hover i[b-6fzo9h3tr2], .btn_delete:focus i[b-6fzo9h3tr2] {
    color: darkred;
}

.nav-item:hover .btn_delete:active i[b-6fzo9h3tr2] {
    color: firebrick;
}

.nav-link[b-6fzo9h3tr2]  a:last-child {
    margin-bottom: 0;
}

.nav-scrollable[b-6fzo9h3tr2] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-6fzo9h3tr2] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-6fzo9h3tr2] {
        display: none;
    }

    .nav-scrollable[b-6fzo9h3tr2] {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        max-width: 320px;
        width: 100%;
    }
}

/* added */

*[b-6fzo9h3tr2]::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    transition: all 0.4s ease;
}
*[b-6fzo9h3tr2]::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #C0C9CB;
    transition: all 0.4s ease;
}

*[b-6fzo9h3tr2]::-webkit-scrollbar-track:hover {
    background-color: #DDE7E9;
}

*[b-6fzo9h3tr2]::-webkit-scrollbar-track:active {
    background-color: #909698;
}

*[b-6fzo9h3tr2]::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #5A827E;
    transition: all 0.4s ease;
}

*[b-6fzo9h3tr2]::-webkit-scrollbar-thumb:hover {
    background-color: #84AE92;
}

*[b-6fzo9h3tr2]::-webkit-scrollbar-thumb:active {
    background-color: #92D2B2;
}

.class_container[b-6fzo9h3tr2] {
    background-color: #11171c;
    border-radius: 5px;
    padding: 16px 12px;
    color: #fafdfc;
}

.class_container input[b-6fzo9h3tr2] {
    all: unset;
    width: 100%;
    margin-bottom: 8px;
}

.list[b-6fzo9h3tr2] {
    margin-bottom: 24px;
}

.title[b-6fzo9h3tr2] {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 8px;
}

.class_list[b-6fzo9h3tr2] {
    list-style: none;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-weight: 600;
    font-size: 20px;
    min-height: 280px;
    max-height: 480px;
    overflow-y: auto;
}

.btn[b-6fzo9h3tr2] {
    border:none;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    font-weight: 700;
    margin: 0 auto;
    display: block;
    width: 100%;
    background-color: #5A827E;
    border-radius: 10px;
    transition: background 0.4s ease;
}

.btn_delete[b-6fzo9h3tr2]  {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn_delete i[b-6fzo9h3tr2] {
    color: #11171c;
    transition: color 0.4s ease;
}

.btn:hover[b-6fzo9h3tr2], .btn:focus[b-6fzo9h3tr2] {
    background-color: #84AE92;
    outline: none;
}

.btn_delete:hover i[b-6fzo9h3tr2], .btn_delete:focus i[b-6fzo9h3tr2] {
    color: darkred;
}

.btn:active[b-6fzo9h3tr2] {
    background-color: #2a7b51;
    outline: none;
}

.btn_delete:active i[b-6fzo9h3tr2] {
    color: firebrick;
}

.error[b-6fzo9h3tr2] {
    color: darkred;
    font-size: 14px;
}

.modal-backdrop_class[b-6fzo9h3tr2] {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    overflow: hidden;
}

.modal-box_class[b-6fzo9h3tr2] {
    background-color: #11171c;
    opacity: 1;
    backdrop-filter: none;
    padding: 24px;
    border-radius: 10px;
    color: #fafdfc;
    max-width: 90%;
    width: 320px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.modal-box_class h4[b-6fzo9h3tr2] {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}

.modal-box_class p[b-6fzo9h3tr2] {
    font-size: 16px;
    margin-bottom: 20px;
}

.modal-box_class p strong[b-6fzo9h3tr2]{
    color: #5A827E;
}

.modal-actions_class[b-6fzo9h3tr2] {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.modal-actions_class .btn[b-6fzo9h3tr2] {
    flex: 1;
}

.modal-actions_class .btn.cancel[b-6fzo9h3tr2] {
    background-color: #444;
}

.modal-actions_class .btn.cancel:hover[b-6fzo9h3tr2] {
    background-color: #666;
}
/* /Pages/Information.razor.rz.scp.css */
.title[b-9q3exosij6] {
    color: white;
    padding-top: 16px;
}

*[b-9q3exosij6]::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    transition: all 0.4s ease;
}
*[b-9q3exosij6]::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #C0C9CB;
    transition: all 0.4s ease;
}

*[b-9q3exosij6]::-webkit-scrollbar-track:hover {
    background-color: #DDE7E9;
}

*[b-9q3exosij6]::-webkit-scrollbar-track:active {
    background-color: #909698;
}

*[b-9q3exosij6]::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #5A827E;
    transition: all 0.4s ease;
}

*[b-9q3exosij6]::-webkit-scrollbar-thumb:hover {
    background-color: #84AE92;
}

*[b-9q3exosij6]::-webkit-scrollbar-thumb:active {
    background-color: #92D2B2;
}

.class_container[b-9q3exosij6] {
    background-color: #11171c;
    border-radius: 5px;
    padding: 16px 12px;
    color: #fafdfc;
}

.class_container input[type="text"][b-9q3exosij6], input[type="number"][b-9q3exosij6] {
    all: unset;
    width: 100%;
    margin-bottom: 8px;
}

input[type="checkbox"][b-9q3exosij6] {
    width: 20px;
    height: 20px;
    accent-color: #5A827E;
    cursor: pointer;
}

.list[b-9q3exosij6] {
    margin-bottom: 24px;
}

.class_list li[b-9q3exosij6] {
    background-color: #5A827E;
    color: white;
    border-radius: 5px;
    margin-bottom: 4px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.class_list li:last-child[b-9q3exosij6] {
    margin-bottom: 0;
}

.class_list[b-9q3exosij6] {
    list-style: none;
    padding: 4px;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-weight: 600;
    font-size: 20px;
    height: fit-content;
    max-height: 480px;
    overflow-y: auto;
}

.btn[b-9q3exosij6] {
    border:none;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    font-weight: 700;
    margin: 0 auto;
    display: block;
    width: 100%;
    background-color: #5A827E;
    border-radius: 10px;
    transition: background 0.4s ease;
}

.btn_delete[b-9q3exosij6]  {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn_delete i[b-9q3exosij6] {
    color: #11171c;
    transition: color 0.4s ease;
}

.btn:hover[b-9q3exosij6], .btn:focus[b-9q3exosij6] {
    background-color: #84AE92;
    outline: none;
}

.btn_delete:hover i[b-9q3exosij6], .btn_delete:focus i[b-9q3exosij6] {
    color: darkred;
}

.btn:active[b-9q3exosij6] {
    background-color: #2a7b51;
    outline: none;
}

.btn_delete:active i[b-9q3exosij6] {
    color: firebrick;
}

.global_container[b-9q3exosij6] {
    display: flex;
    justify-content: space-between;
}

.container_students[b-9q3exosij6] {
    width: 100%;
    max-width: 35vw;
    margin-right: 20px;
}

.container_group[b-9q3exosij6] {
    width: 100%;
    max-width: 35vw;
}

.neumischen[b-9q3exosij6] {
    margin-top: 8px;
}

.group_list[b-9q3exosij6] {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
    color: #fafdfc;
    margin: 36px 0 0 0;
}

.group_item[b-9q3exosij6] {
    list-style: none;
    padding: 12px;
    background-color: #5A827E;
    border-radius: 5px;
    min-width: 150px;
    width: 100%;
    max-width: max-content;
}

.group_item ul[b-9q3exosij6] {
    list-style: none;
    padding: 0;
}

.group_item ul li[b-9q3exosij6] {
    text-align: center;
}

.group_item h4[b-9q3exosij6] {
    color: #1a2f1f;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.small[b-9q3exosij6]  {
    margin-bottom: 8px;
}

.validation_group[b-9q3exosij6] {
    color: darkred;
}

.modal-backdrop[b-9q3exosij6] {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
}

.above[b-9q3exosij6] {
    z-index: 120000;
}

.modal-box[b-9q3exosij6] {
    background-color: #11171c;
    opacity: 1;                
    backdrop-filter: none;
    padding: 24px;
    border-radius: 10px;
    color: #fafdfc;
    max-width: 90%;
    width: 320px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.modal-box h4[b-9q3exosij6] {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}

.modal-box p[b-9q3exosij6] {
    font-size: 16px;
    margin-bottom: 20px;
}

.modal-box p strong[b-9q3exosij6]{
    color: #5A827E;
}

.modal-actions[b-9q3exosij6] {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.modal-actions .btn[b-9q3exosij6] {
    flex: 1;
}

.modal-actions .btn.cancel[b-9q3exosij6] {
    background-color: #444;
}

.modal-actions .btn.cancel:hover[b-9q3exosij6] {
    background-color: #666;
}
